<div>
    <h1 style="color: blueviolet;">Servicio de Coches</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Conductor</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of coches">
                <td>{{car.idcoche}}</td>
                <td>{{car.marca}}</td>
                <td>{{car.modelo}}</td>
                <td>{{car.conductor}}</td>
                <td><img src="{{car.imagen}}" 
                    style="width: 100px;height: 100px;" /></td>
            </tr>
        </tbody>
    </table>
</div>